﻿@{
    ViewBag.Title = "Customer Detail";
    ViewBag.ModuleName = "Master";
}
<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Dashboard </h3>
            <div class="button-group pull-right">
                <button class="btn btn-sm btn-default">Back</button>
                <button class="btn btn-sm btn-default">Edit</button>
                <button class="btn btn-sm btn-danger">Delete</button>
            </div>
        </div>
        <div class="box-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Customer ID</label>
                    <div class="col-md-3">
                        <input type="text" ID="TextCustomerID" class="form-control" />
                    </div>
                    <label class="control-label col-md-2">Region</label>
                    <div class="col-md-3">
                        <input type="text" ID="TextRegion" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Company Name</label>
                    <div class="col-md-3">
                        <input type="text" ID="TextCompanyName" class="form-control" />
                    </div>
                    <label class="control-label col-md-2">Postal Code</label>
                    <div class="col-md-3">
                        <input type="text" ID="TextPostalCode" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Contact Name</label>
                    <div class="col-md-3">
                        <input type="text" ID="TextContactName" class="form-control" />
                    </div>
                    <label class="control-label col-md-2">Country</label>
                    <div class="col-md-3">
                        <input type="text" ID="TextCountry" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Contact Title</label>
                    <div class="col-md-3">
                        <input type="text" ID="TextContactTitle" class="form-control" />
                    </div>
                    <label class="control-label col-md-2">Phone</label>
                    <div class="col-md-3">
                        <input type="text" ID="TextPhone" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Address</label>
                    <div class="col-md-3">
                        <input type="text" ID="TextAddress" class="form-control" />
                    </div>
                    <label class="control-label col-md-2">Fax</label>
                    <div class="col-md-3">
                        <input type="text" ID="TextFax" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">City</label>
                    <div class="col-md-3">
                        <input type="text" ID="TextCity" class="form-control" />
                    </div>
                    <label class="control-label col-md-2"></label>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    </div>
<script type="text/javascript">
    
</script>