﻿.table th, .table td{
    white-space: nowrap;
}

th[sortable="true"] {
    position: relative; 
    font-family: 'Glyphicons Halflings', 'Arial';
    font-style: normal;
    font-weight: 700; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    white-space: nowrap; 
    cursor: pointer;
}

    th[sortable="true"]::before { 
        opacity: .3;
        content: "\e150";
        float: right;
        align-content: center;
    }

    th[sortable="true"].sortedasc::before { 
        opacity: .8;
        content: "\e155";
        float: right;
        align-content: center; 
    }

    th[sortable="true"].sorteddesc::before {
        opacity: .8;
        content: "\e156";
        float: right;
        align-content: center;
    }

th.sortedasc, th.sorteddesc {
    color: darkblue;
}

#backdrop-overlay{
    display: none;
}

#overlay { 
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    opacity: 0.1;
    z-index: 1000;*/
}

#loader { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../dist/img/loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    z-index: 1050;
}
