﻿@model NORTHWIND.WebMVC.Models.CustomerView
@using(
    Ajax.BeginForm("CreateSave","CustomerNew", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Apx.AjaxOnSuccess"}))
{
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" data-dismiss="modal">&times;</span>
            <h4 class="modal-title">Create Customer</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, String.Empty, new  { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(e => e.CustomerID, new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(e => e.CustomerID, String.Empty, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(e => e.CustomerID, String.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(e => e.CompanyName, new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                            @Html.EditorFor(e => e.CompanyName, String.Empty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(e => e.CompanyName, String.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(e => e.ContactName, new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                            @Html.EditorFor(e => e.ContactName, String.Empty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(e => e.ContactName, String.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(e => e.ContactTitle, new { @class = "control-label" })
                            @Html.EditorFor(e => e.ContactTitle, String.Empty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(e => e.ContactTitle, String.Empty, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(e => e.Address, new { @class = "control-label" })
                            @Html.EditorFor(e => e.Address, String.Empty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(e => e.Address, String.Empty, new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(e => e.City, new { @class = "control-label" })
                            @Html.EditorFor(e => e.City, String.Empty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(e => e.City, String.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(e => e.Region, new { @class = "control-label" })
                            @Html.EditorFor(e => e.Region, String.Empty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(e => e.Region, String.Empty, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(e => e.PostalCode, new { @class = "control-label" })
                            @Html.EditorFor(e => e.PostalCode, String.Empty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(e => e.PostalCode, String.Empty, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(e => e.Country, new { @class = "control-label" })
                            @Html.EditorFor(e => e.Country, String.Empty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(e => e.Country, String.Empty, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(e => e.Phone, new { @class = "control-label" })
                            @Html.EditorFor(e => e.Phone, String.Empty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(e => e.Phone, String.Empty, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(e => e.Fax, new { @class = "control-label" })
                            @Html.EditorFor(e => e.Fax, String.Empty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(e => e.Fax, String.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
}